@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ——— Clases para cada variante ——— */

.font-sora-thin {
  font-family: "Sora", sans-serif;
  font-weight: 100;
}

.font-sora-extralight {
  font-family: "Sora", sans-serif;
  font-weight: 200;
}

.font-sora-regular {
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

.font-sora-bold {
  font-family: "Sora", sans-serif;
  font-weight: 700;
}
