@keyframes slider-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-container:hover .slider-animation {
  animation-play-state: paused;
}

.slider-animation {
  animation: slider-animation 15s linear infinite;
}
