@keyframes slider-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-container:hover .slider-animation {
  animation-play-state: paused;
}

.slider-animation {
  animation: slider-animation 20s linear infinite;
}

/* Deshabilitar interacción táctil */
.slider-container {
  overflow: hidden; /* Cambiar de overflow-x-auto a hidden */
  touch-action: none; /* Deshabilita gestos táctiles */
  pointer-events: none; /* Deshabilita interacción con el mouse/touch */
  -webkit-user-select: none; /* Previene selección en iOS */
  user-select: none; /* Previene selección */
}

/* Los elementos hijos sí deben ser clickeables */
.slider-container * {
  pointer-events: auto;
}

/* Mejora para mobile */
@media (max-width: 768px) {
  .slider-animation {
    animation-duration: 25s;
  }
}
